DATABASE_URL=jdbc:postgresql://TU_HOST_DE_NEON/TU_DB?sslmode=require
DATABASE_USERNAME=tu_usuario
DATABASE_PASSWORD=tu_password

CORS_ALLOWED_ORIGINS=http://localhost:5173

GEMINI_API_KEY=tu_clave_de_gemini
